@model IEnumerable<Adress>

@{
    ViewData["Title"] = "Adresler";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Yeni Ekle</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBillingAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeliveryAdress)
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBillingAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeliveryAdress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AdressGuid" class="btn btn-sm btn-primary">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.AdressGuid" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
